*, *::before, *::after{box-sizing: border-box;margin:0; padding:0;}
:root{
  --font-script: 'Dancing Script', cursive;
  --font-body: 'Nunito', sans-serif;
  --orange:rgba(255,122,24,1);
  --brown : #62412e;
}

.hero-login{
  display:grid;
  grid-template-columns: 1fr 1fr;
  background: var(--white);
  height: 100vh;
}
.hero-panel{
  position: relative;
  overflow: hidden;
}
.hero-panel img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hero-overlay{
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 36px 36px ;
  background: rgba(255,122,24,0.7);
}
.hero-overlay h2{
  text-align: center;
  font-family: var(--font-body);
  font-weight: 700;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}
.hero-overlay p{
  text-align: center;
  margin-top: 0px;
  line-height: 1.6;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.93);
}
.login-panel{
  padding: 48px 40px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}
.text{
  margin-bottom: 8px;
}
.brand-script{
  font-family: var(--font-script);
  color:var(--orange);
  font-size: 40px;
  text-align: center;
  margin-bottom: 4px;
}
.form-group{
  margin-bottom: 16px;
}
.form-group label{
  text-align: left;
  display: block;
  font-size: 10px;
  margin-bottom: 6px;
  color: #555;
}
.input-wrap{
  display: flex;
  align-items: center;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  padding: 0 12px;
  transition: border-color 0.2s ease;
  background: #fafafa;
  height: 24px;
  width: 100%;
}
.input-wrap:focus-within{
  border-color: var(--orange);
  background: #fff;
}
.input-wrap input{
  border: none;
  background: none;
  outline: none;
  flex: 1;
  font-size: 11px;
  font-family: var(--font-body);
  color: #222;

}
.input-wrap .eye-icon{
  cursor: pointer;
  font-size: 15px;
  color: #bbb;
  margin-left: 8px;
}
.forgot-link{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: var(--orange);
  text-decoration: none;
  text-align: right;
}
.forgot-link:hover{
  text-decoration: underline;
}
.btn-continue{
  width: 50%;
  height: 44px;
  background: var(--orange);
  color: white;
  border: none;
  border-radius: 6px;
  font-family: var(--font-body);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s, transform 0.1s;
}
.btn-continue:hover{background: #d96a12;}
.btn-continue:active{transform: scale(0.98);}
.divider{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
  color: #bbb;
  font-size: 12px;
}
.divider::before, .divider::after{
  content: '';
  flex:1;
  height: 1px;
  background: #e5e5e5;
}
.btn-social{
  width: 100%;
  height: 42px;
  background: white;
  color: #222;
  border: 1.5px solid #ddd;
  border-radius: 6px;
  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  transition: background 0.15s,border-color 0.15s;
}
.btn-social:hover{background: #f8f8f8; border-color: #c5c5c5;}
.signup-text{
  text-align: center;
  font-size: 13px;
  color: #999;
  margin-top: 12px;
}
.signup-text a{
  color: var(--orange);
  font-weight: 600;
  text-decoration: none;
}
.signup-text a:hover{
  text-decoration: underline;
}
footer{
  background:var(--brown);
  color: #ccc;
  padding: 65px 36px 65px;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1.2fr 1fr;
  gap:28px
}
footer .footer-brand .brand-script{
  font-size: 24px;
  text-align: left;
  color: var(--orange);
  margin-bottom: 10px;
}
footer .footer-brand p{
  font-size: 12px;
  line-height: 1.7;
  color: #bbb;
}
footer h4{
  font-size: 14px;
  margin-bottom: 13px;
  color: #eee;
  font-weight: 700;

}
footer ul{
  list-style: none;
}
footer ul li{
  margin-bottom: 8px;
}
footer ul li a{
  color: #bbb;
  text-decoration: none;
  font-size: 13px;
  transition: color 0.2s;
}
footer ul li a:hover{
  color: var(--orange);
}
.footer-contact h2{
  font-size: 14px;
  margin-bottom: 13px;
  color: #eee;
  font-weight: 700;
}
.footer-contact p{
  font-size: 13px;
  margin-bottom: 8px;
  color: #bbb;
  line-height: 1.7;

}

